<a href="https://colab.research.google.com/github/jeff920416/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("0606test")

0606test

In [10]:
i = 0
result = 0
while i <=50:
     if i % 2!=0:
        result += i
     i+=1
print("0~50 的奇數和結果是結果是%d" % result)

0~50 的奇數和結果是結果是625

In [12]:
i = 0
result = 0
while i <=50:
    if i % 2 ==0:
        result +=i
    i+=1
print("0~50 的偶數和結果是結果是%d" % result)

0~50 的偶數和結果是結果是650

In [13]:
n=int(input(" 請輸入正整數:"))
for i in range(1,n+1):
   for j in range(i,n+1):
      print("*",end=" ")
   print()

 請輸入正整數:10
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
sum=0
for i in range(0,101):
   if (i%3==0 or i%7==0):
        sum += i
print("數值1~100中,所有事3或7倍數的數之之總和=2208",sum)

數值1~100中,所有事3或7倍數的數之之總和=2208 2208

In [17]:
p=1
counter=0
n = int(input("請輸入正整數"))
print(n,"的因數有",end=" ")
while (p<=n):
  if (n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1
print()  
if (counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數10
10 的因數有 1 2 5 10
10 不是質數

In [18]:
list1 = [1,2,3,4,5]

In [19]:
list1

[1, 2, 3, 4, 5]

In [20]:
list2 = ["香蕉","蘋果","橘子"]

In [21]:
list2

['香蕉', '蘋果', '橘子']

In [22]:
list3 = [1,"香蕉",True]

In [23]:
list3

[1, '香蕉', True]

In [24]:
print(list1)

[1, 2, 3, 4, 5]

In [25]:
print(list1[0])

1

In [26]:
print(list1[1])

2

In [27]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [28]:
list4 = ["香蕉","蘋果","橘子"]

In [29]:
print(list4[1])

蘋果

In [30]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [31]:
print(list4[3])

IndexError: ignored

In [32]:
print(list4[-3])

香蕉

In [33]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [34]:
print(list5[1])

['mary', 'abcd']

In [35]:
print(list5[0])

[['tom', '1234']]

In [36]:
print(list5[1][1])

abcd

In [37]:
print(list5[0])

[['tom', '1234']]

In [38]:
print(list5[0][0])

['tom', '1234']

In [39]:
print(list5[0][0])

['tom', '1234']

In [40]:
print(list5[1][0])

mary

In [41]:
scores = [85, 79, 93]
print("國文成績: %d分" % scores[0])
print("數學成績: %d分" % scores[1])
print("英文成績: %d分" % scores[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [42]:
list6 = [1,2,3,4,5]

In [43]:
print(list6[0])

1

In [44]:
list6[0] = 9

In [45]:
print(list6[0])

9

In [46]:
print(list6)

[9, 2, 3, 4, 5]

In [47]:
list7 = ["香蕉","蘋果","橘子"]

In [48]:
for s in list7:
  print(s,end= ',')

香蕉,蘋果,橘子,

In [49]:
items = [123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [50]:
items = [123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [51]:
print(len(scores))

3

In [52]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [53]:
scores = ["國文成績:85","數學成績:79","英文成績:93"]
for i in range(len(scores)):
  print(scores[i])

國文成績:85
數學成績:79
英文成績:93

In [ ]:
number = ["編號:1 姓名:Tom","編號:2 姓名:Mary","編號:3 姓名:Tony"]
for i in range(len(number)):
  print(number[i])